---
layout: default
---

<h1>{{ page.title }}</h1>

<ul>
{% assign items = site.videos | where: "category", page.category | sort: "date" | reverse %}
{% for video in items %}
  <li style="margin-bottom: 2em;">
    <strong>{{ video.title }}</strong><br>
    <iframe width="560" height="315"
            src="https://www.youtube.com/embed/{{ video.youtube_id }}"
            title="{{ video.title }}"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen>
    </iframe><br>
    <em>{{ video.date | date: "%Y-%m-%d" }}</em>
  </li>
{% endfor %}
</ul>

